* {
  margin: 0;
}

.navbar {
  background: blue;
  height: 6rem;
  color: white;
  font-size: 3rem;
}

.banner {
  background: red;
  min-height: calc(100vh - 6rem);
}
.example {
  background: green;
  width: 10rem;
  height: 20rem;
  overflow: scroll;
}
