* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  color: white;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}

.big-img {
  background: url(./images/big-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.small-img {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(./images/extra-image.jpeg) center/cover no-repeat fixed;
}
.extra-img {
  background: url(./images/big-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
